.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14.5px 30px;
  background-color: pink;
}

.gameImage {
  width: 100%;
}

.itemContainer {
  display: flex;
  gap: 20px;
}

.item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chosen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: brightness(30%);
}

.target {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px black dashed;
  background-color: rgba(221, 160, 221, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-select {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: green;
  width: 100px;
}

.item {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
}

.link {
  text-decoration: none;
  color: black;
}