.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.imgContainer {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img {
  height: 600px;
}

.btn {
  padding: 10px 20px;
}

.btn:hover {
  cursor: pointer;
}